/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

	/* My CSS */
/* @import url('https://fonts.googleapis.com/css2?family=Lateef&family=Quattrocento&display=swap'); */
/* Global */
html {
	background-color: lightgrey;
    font-family: 'Quattrocento', serif;
	scroll-behavior: smooth;
}

/* CSS3 design scrollbar*/
::-webkit-scrollbar {
    width: 8px;
	height: 8px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
    background: #666;
}
 
::-webkit-scrollbar-thumb {
    background: #ad5389;
}
/* Navbar */
.nav {
	margin-top: 10px;
	width: 95%;
	height: 80px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	background-color: #663399;
	overflow: hidden;
	transition: all .4s;
	box-shadow: 0 10px 20px rgba(0,0,0,.055);
	border: 1px solid rgba(255,255,255,.212);
}

.menu {
	width: 60%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.menu ul {
	margin-top: 30px;
}

.menu ul li {
	float: none;
	display: inline-block;
	margin: 0 25px;
}

.menu ul li a {
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .1rem;
	transition: all .4s;
	color: #eaeaea;
}

.menu ul li a:hover {
	background: rgba(255, 255, 255, .068);
	color: #eaea;
}

.menu ul li:nth-child(3) {
	float: right;
}

.menu ul li:nth-child(4) {
	float: right;
}

.logo-container {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 10px;
}

.logo-container img {
	width: 100%;
	height: 100%;
	border-radius: 50px;
}

.menu .btn {
	display: none;
}

@media (max-width: 1250px) {
	.menu {
		width: 80%;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
}

@media (max-width: 1000px) {
	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav.active { height: 390px; }
	.nav { height: 160px; }

	.menu {
		width: 100%;
		margin-top: 55px;
	}

	.menu ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	.nav .menu .btn {
		display: block;
		margin-top: 50px;
		background: none;
		padding: 5px;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.logo-container {
		width: 75px;
		height: 75px;
	}

	.menu ul li { margin: 15px 25px; }
}

@media (max-width: 480px) {
	.logo-container {
		width: 75px;
		height: 75px;
		margin-top: 12px;
	}
}
/* End Navbar */

/* Jumbotron */
.jumbotron {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.jumbotron h1 {
	font-family: 'Lateef', cursive;
	font-weight: inherit;
	font-size: 4rem;
	text-align: center;
	color: #fff;
}
@media (max-width: 1000px) {
	.jumbotron h1 {
		font-size: 3.5rem;
		line-height: 3rem;
	}
}

.jumbotron strong {
	color: #663399;
}

.jumbotron p {
	font-size: 1.4rem;
	margin-top: 30px;
	color: #ad5389;
}
@media (max-width: 1000px) {
	.jumbotron p {
		margin-top: 1rem;
	}
}
/* End Jumbotron */

/* Projects Section */
.projects-section {
	text-align: center;
	padding: 6rem 4rem;
	background-color: #eaeaea;
}

.projects-section-header {
	max-width: 640px;
	font-size: 2rem;
	margin: 0 auto 5rem auto;
	border-bottom: .2rem solid #663399;
	line-height: 3rem;
}

/* Grid Start */
.projects-grid {
	display: grid;
	grid-gap: 4rem;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 7rem;
}
@media (min-width: 1000px) {
	.projects-section {
		padding: 6rem 6rem;
	}
	
	.projects-grid {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
}
@media (min-width: 768px) {
	.projects-section {
		padding: 6rem 2rem;
	}

	.projects-grid {
		grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	}
}
/* Grid End */

.project {
	background-color: #303841;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
	border-radius: 2px;
}

.code {
	color: #303841;
	transition: color .3s ease-out;
}

.project:hover .code {
	color: #eaeaea;
}

.project-image {
	height: calc(100% - 3rem);
	width: 100%;
	object-fit: cover;
}

.project-title {
	font-size: 1rem;
	padding: 1rem .5rem;
	color: #fff;
	text-decoration: none;
}

.projects-section .btn {
	font-size: 1.2rem;
	display: inline-block;
	padding: .5rem 1rem;
	border-radius: 2px;
}

.btn-show-all {
	font-size: 2rem;
	color: #eaeaea;
	text-decoration: none;
	background-color: #303841;
	transition: background .3s ease-out;
}

.btn-show-all:hover {
	margin-top: -2px;
	border: 1px solid #663399;
	background: none;
	color: #663399;
	border-radius: 2px;
}

.btn-show-all:hover i {
	transform: translateX(2px);
}

.btn-show-all i {
	margin-left: 10px;
	transform: translateX(0);
	transition: transform .3s ease-out;
}

@media (min-width: 768px) and (min-width:1000px) {
	.project-title {
		font-size: 1.2rem;
	}
}
/* End Projects Section */

/* Contacts Section */
.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* width: 100%; */
	height: 80vh;
	padding: 0 2rem;
	background-image: linear-gradient(145deg, #181719 0%, #3a3d40 100%);
	color: #eaeaea;
}

.contact-section-header {
	font-size: 4rem;
}

.contact-section-header p {
	font-style: italic;
	font-size: 1.2rem;
	margin-top: 35px;
}
@media (max-width: 768px) {
	.contact-section-header {
		font-size: 4rem;
	}
}

.contact-links {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 980px;
	margin-top: 4rem;
	flex-wrap: wrap;
}

.contact-details {
	font-size: 1.4rem;
	margin-right: 4.5%;
	text-shadow: 2px 2px 1px #1f1f1f;
	transition: transform 0.3s ease-out;
	text-decoration: none;
	color: #eaeaea;
}

.contact-details:hover {
	transform: translateY(8px);
}
@media (max-width: 768px) {
	.contact-details {
		margin-top: 5%;
	}
}
@media (max-width: 480px) {
	.contact-section-header {
		font-size: 2.4rem;
	}

	.contact-details {
		margin-top: 12%;
		margin-right: 15%;
	}
}
/* End Contact Section */

/* Footer Section */
footer {
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
	background-image: linear-gradient(62deg, #181719 0%, #3a3d40 100%);
	color: #eaeaea;
	border-top: 4px solid #ad5389;
	transition: .3s;
}

footer:hover {
	border-top: 4px solid #663399;
}

footer p {
	margin: 2rem;
}

footer a {
	text-decoration: none;
	color: #663399;
	transition: .3s;
}

footer:hover a {
	color: #ad5389;
	text-decoration: underline;
}

footer i {
	vertical-align: middle;
}
@media (max-width: 768px) {
	footer {
		flex-direction: column;
		text-align: center;
	}
}
/* End Footer Section */